.product-card {
    width: 180px;
    height: 300px;
    background-color: white;
    margin-right: 24px;
    margin-bottom: 20px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 12px;
    overflow: hidden; // 각진 사진 모서리 둥글게 만들기
}
#product-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}
.product-img {
    width: 100%;
    height: 217px;
}
.product-contents {
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.product-name {
    font-size: 15px;
}

.product-price {
    font-size: 16px;
    font-weight: 600;
    margin-top: 2px;
}