.product-list2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}
.product-link {
  /* a태그를 무시하고 기존 색상유지 */
  color: inherit;
  /* 텍스트 속성을 변경하지 않도록함 */
  text-decoration: none;
}
.product-list2 .product-card {
  flex: 0 0 calc(19% - 16px); /* 5개씩 보이도록 비율 조정, 간격을 고려하여 % 조정 */
  box-sizing: border-box;
}
.add-product-button2 {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
}
.add-product-button2:hover {
  background-color: #0056b3;
}
.text-center {
  text-align: center;
}
.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 4px;
  border: 1px solid transparent;
  transition: all 0.3s;
}
.btn-outline-pink {
  border: 1px solid pink;
  color: pink;
  background-color: transparent;
}
.btn-outline-pink:hover {
  background-color: pink;
  color: white;
}
.btn-clear {
  background-color: lightgray;
  color: black;
}
.btn-clear:hover {
  background-color: gray;
  color: white;
}
.btn-selected {
  background-color: #007bff;
  color: white;
}
.category-filter {
  margin-bottom: 16px;
}
.search-filter {
  margin-bottom: 16px;
}
.search-input {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
