.product-card2 {
  width: 200px;
  height: 330px;
  background-color: white;
  margin-right: 24px;
  margin-bottom: 20px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 12px;
  overflow: hidden;
  /* 각진 사진 모서리 둥글게 만들기 */
  /* transition: box-shadow 0.3s ease-in-out; 추가: 부드러운 전환 효과 */
  transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out; /* 부드러운 전환 효과 추가 */
}
.product-card2:hover {
  border: 1px solid transparent; /* 기존 테두리를 투명하게 */
  /* box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.2),
    그라데이션 효과 0 0 0 8px rgba(0, 123, 255, 0.1); 더 큰 그라데이션 */
  background: linear-gradient(white, white),
    linear-gradient(to right, #00ff4c, #06499b); /* 배경을 겹쳐서 그라데이션 효과 */
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 0 10px rgba(0, 255, 213, 0.582),
    0 0 20px rgba(0, 225, 255, 0.884), 0 0 30px rgba(187, 255, 0, 0.3),
    0 0 40px rgba(255, 238, 0, 0.2);
  /* 그라데이션 효과 추가 */
}

.product-img {
  width: 100%;
  height: 217px;
}
.product-contents2 {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.product-name2 {
  font-size: 15px;
}

.product-price2 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 2px;
}
.product-category2 {
  font-size: 15px;
}
.product-quantity2 {
  font-size: 15px;
}

.true {
  border: 3px solid red; /* 선택된 경우 테두리를 파란색으로 설정 */
}

.ttt {
  border: 1px solid #ccc; /* 선택되지 않은 경우 기본 테두리 */
}

.product-checkbox {
  position: absolute;
  visibility: hidden;
  zoom: 2;
  right: 5px;
  /* top: -1000px; */
  accent-color: blue;
}
