div {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* 배송지 섹션 스타일 */
.order-section h3 {
  margin-bottom: 10px;
}

/* 배송지 입력 폼 스타일 */


.order-section label {
  display: block;
  font-weight: bold;
}

.order-section input[type="text"],
.order-section input[type="email"],
.order-section input[type="phone"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.message_ssj {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.order-section button {
  padding: 8px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.order-section button:hover {
  background-color: #0056b3;
}

/* 주문 상품 요약 섹션 스타일 */
.order-item ul {
  list-style-type: none;
  padding: 0;
}

.order-item li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.order-total {
  font-weight: bold;
}

/* 결제 수단 섹션 스타일 */




.payment-section input[type="radio"] {
  margin-right: 5px;
}


.payment-agreement input[type="checkbox"] {
  margin-right: 5px;
}

/* 결제 버튼 스타일 */
.payment-section button {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.payment-section button:hover {
  background-color: #218838;
}

/* ProductPayment.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  border-radius: 5px;
  width: 500px;
  max-width: 90%;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.checkbox_ssj {
  display : wrap;
}