<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="mid">ID:</label>
            <input type="text" id="mid" name="mid" required>
        </div>
        <div>
            <label for="mpw">비밀번호:</label>
            <input type="password" id="mpw" name="mpw" required>
        </div>
        <div>
            <button type="submit">로그인</button>
        </div>
    </form>
    <p>계정이 없으신가요? <a th:href="@{/signup}">회원가입</a></p>
</div>
</body>
</html>
