<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>notice</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>bno</th>
        <th>title</th>
        <th>regdate</th>
        <th>writer</th>
    </tr>
    <tr th:each="dto : ${notices}">
        <td th:text="${dto.bno}"></td>
        <td th:text="${dto.title}"></td>
        <td th:text="${#temporals.format(dto.regDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${dto.writer}"></td>
    </tr>
    </thead>

</table>
<a th:href="|@{/notice/register}|">
<input type="button" value="글쓰기" >
</a>
</body>
</html>