<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modify</title>
</head>
<body>
<form action="/notice/modify" method="post">
    <input type="hidden" name="bno" th:value="${dto.bno}"/> <!-- hidden 필드에 bno 값을 전달 -->
    <div>
        <input type="text" placeholder="title" name="title" th:value="${dto.title}">
    </div>
    <div>
        <textarea placeholder="content" name="content">[[${dto.content}]]</textarea> <!-- textarea에 name 추가 -->
    </div>
    <div>
        <input type="text" placeholder="writer" name="writer" th:value="${dto.writer}" readonly> <!-- writer 값을 설정 -->
    </div>
    <a th:href="|@{/notice/list}|">
        <input type="button" value="목록">
    </a>
    <input type="submit" value="수정">
</form>
<form action="/notice/remove" method="post">
    <input type="hidden" name="bno" th:value="${dto.bno}"/>
    <input type="hidden" name="writer" th:value="${dto.writer}"/>
    <input type="submit" value="삭제">

</form>
</body>
</html>
