<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>read</title>
</head>
<body>
    <div>
        <input type="hidden" name="bno" th:value="${dto.bno}"/> <!-- hidden 필드에 bno 값을 전달 -->
    </div>
    <div>
        <input type="text"  name="title" th:value="${dto.title}" readonly>
    </div>
    <div>
        <textarea readonly>[[${dto.content}]]</textarea>
    </div>
    <div>
        <input type="text" placeholder="writer" name="writer" th:value="${dto.writer}" readonly>
    </div>
    <a th:href="|@{/notice/list}|">
    <input type="button" value="목록" >
    </a>
<!--    <a th:href="|@{/notice/modify}|">-->
    <a th:href="|@{/notice/modify/{no}(no=${dto.bno})}|">
    <input type="button" value="수정" >
    </a>
</body>
</html>