<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>register</title>
</head>
<body>
<form action="/notice/register" method="post">
  <div>
    <input type="text" placeholder="title" name="title">
  </div>
  <div>
    <textarea placeholder="content"></textarea>
  </div>
  <div>
    <input type="text" placeholder="writer" name="writer" readonly>
  </div>
  <a th:href="|@{/notice/list}|">
  <input type="button" value="목록" >
  </a>
  <input type="submit" value="등록">
</form>
</body>
</html>