<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>편의점 물품관리 페이지</title>
    <link href="/css/product/list.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<h1>물품 관리</h1>

<div id="product-list">
    <div class="product-card">
        <div>
            <img class="product-img" src="/img/product/bread/bread_greek.png">
        </div>
        <div class="product-contents">
            <span class="product-name">연세 그릭요거트빵</span>
            <span class="product-price">4,500원</span>
        </div>
    </div>
</div>

</body>
<script>
    axios
        .get(
            "http://localhost:8080/product"
        )
        .then(function (result) {
            console.log("통신 결과 :", result);
            const products = result.data.products;
        })
        .catch(function (error) {
            console.log("통신 실패:", error);
        });

    // let products = [
    //     {
    //         product_name: "연세 그릭요거트빵",
    //         price: "4,500원",
    //         category: "bread",
    //         total_quantity: "수량: 10",
    //         product_img: "/img/product/bread/bread_greek.png",
    //     },
    //     {
    //         product_name: "픽셀 포켓몬빵",
    //         price: "2,100원",
    //         category: "bread",
    //         total_quantity: "수량: 22",
    //         product_img: "/img/product/bread/bread_poket.png",
    //     },
    //     {
    //         product_name: "제로콜라 파인맛",
    //         price: "1,200원",
    //         category: "drink",
    //         total_quantity: "수량: 5",
    //         product_img: "/img/product/drink/drink_pepsi.png",
    //     },
    // ];

    let productsHtml = "";
    for (let i = 0; i < products.length; i++) {
        let product = products [i]
        productsHtml = productsHtml +
            '<div class="product-card">' +
            "<div>" +
            '<img class="product-img" src="' + product.product_img + '" />' +
            "</div>" +
            '<div class="product-contents">' +
            '<span class="product-name">'  + product.product_name + "</span>" +
            '<span class="product-price">' + product.price + "</span>" +
            '<span class="product-category">' + product.category + "</span>" +
            '<span class="product-quantity">' + product.total_quantity + "</span>" +
            "</div>" +
            '</div>'
    }

    document.querySelector("#product-list").innerHTML = productsHtml;


</script>
</html>